<footer class="footer-area pt-100 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget">
                    <div class="logo">
                        <img src="assets/images/app/logo.png" alt="logo">
                    </div>
                    <p>Rue Jean Jaures 93170
                        BAGNOLET.

                        .</p>

                    <ul class="footer-social">
                        <li>
                            <a class="bg-1" href="#" target="_blank">
                                <i class="lab la-facebook-f "></i>
                            </a>
                        </li>
                        <li>
                            <a class="bg-2" href="#" target="_blank">
                                <i class="lab la-twitter "></i>
                            </a>
                        </li>
                        <li>
                            <a class="bg-3" href="#" target="_blank">
                                <i class="lab la-linkedin-in "></i>
                            </a>
                        </li>
                        <li>
                            <a class="bg-4" href="#" target="_blank">
                                <i class="lab la-instagram "></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="footer-widget">
                            <h3 class="title">Application</h3>
                            <ul class="footer-text">
                                <li>
                                    <a href="#">
                                        <i class="las la-angle-right"></i>
                                        Mobile IOS
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="las la-angle-right"></i>
                                        Mobile Android
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="las la-angle-right"></i>
                                        Admin
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="las la-angle-right"></i>
                                        Application Courses
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        <div class="footer-widget">
                            <h3 class="title">Liens Utiles</h3>
                            <ul class="footer-text">
                                <li>
                                    <a href="#">
                                        <i class="las la-angle-right"></i>
                                        Paiement
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="las la-angle-right"></i>
                                        Termes de service
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="las la-angle-right"></i>
                                        Compte
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="las la-angle-right"></i>
                                        Privacy Policy
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6  offset-lg-0">
                <div class="footer-widget">
                    <h3 class="title">Contactez-Nous</h3>
                    <div class="subscribe-form">
                        <form class="newsletter-form" data-bs-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL"
                                required="" autocomplete="off">
                            <a href="#"> <img src="/assets/images/app/icons/send.png" alt="" width="44px"> </a>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                    <ul class="footer-text contact">
                        <li>
                            <a href="#"> <i class="fa-solid fa-mobile-screen"></i> <span> 07 69 25 13 55</span></a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa-solid fa-envelope"></i> <span>Info@itchek.com</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright-text">
            <p>Copyright @2023 ITCHEK. All Rights Reserved <a href="itgate-group.com/" target="_blank">ITGATE-GROUP</a>
            </p>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Go Top -->
<div class="go-top">
    <i class="las la-angle-double-up"></i>
</div>