<app-header></app-header>

<section id="pro-form">

    <div class="pro ptb-200 mx-auto">
        <div class="container">
            <div class="card pro-card">
                <div class="card-body">
                    <div class="title text-center mb-4"><h2><img src="/assets/images/app/icons/pro-green.png" alt="" width="36px"> Devenir pro </h2></div>
                    <div class="service text-center mb-4">
                        <a href="#"><img src="/assets/images/app/icons/pro-blue.png" alt="" width="20px"> Pour quel service?<i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                    <form action="">
                        <div class="form-group">
                            <input type="text" name="prenom" id="prenom" class="form-control mb-3" placeholder="Prénom *">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="nom" id="nom" class="form-control mb-3" placeholder="Nom *">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control mb-3" placeholder="Email *">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="tel">
                            <select name="country" id="country" class="custom-select">
                                <option value="france">France</option>
                                <option value="tunisie">Tunisie</option>
                                <option value="algeria">Algeria</option>
                            </select>
                            <div class="form-group ">
                                <input type="tel" name="tel" id="tel" class="form-control mb-3" placeholder="+216">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pays">Votre Pays</label>
                            <input type="text" name="pays" id="pays" class="form-control mb-3" placeholder="France ">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="ville">Votre Ville</label>
                            <input type="text" name="ville" id="ville" class="form-control mb-4" placeholder="Paris ">
                            <div class="help-block with-errors"></div>
                        </div>
                    </form>
                    <div class="send text-center mb-4">
                        <a href="#"> S'inscrire</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>